{
    order authenticate before respond
    order authorize before basicauth

    security {
        local identity store localdb {
            realm local
            path /data/users.json
        }

        authentication portal myportal {
            crypto default token lifetime 86400
            crypto key sign-verify {env.AUTH_CRYPTO_KEY}
            enable identity store localdb
            cookie domain {$HYPERSET_DOMAIN}
            cookie samesite lax
            cookie insecure off
            transform user {
                match realm local
                match role authp/admin
                action add role authp/admin
            }
            transform user {
                match realm local
                match role authp/user
                action add role authp/user
            }
            ui {
                links {
                    "Portal" https://{$HYPERSET_DOMAIN}
                    "OpenWebUI" https://openwebui.{$HYPERSET_DOMAIN}
                }
            }
        }

        authorization policy mypolicy {
            set auth url https://auth.{$HYPERSET_DOMAIN}/
            set token sources cookie header
            validate bearer header
            crypto key sign-verify {env.AUTH_CRYPTO_KEY}
            allow roles authp/admin authp/user
            inject headers with claims
        }
    }
}

auth.{$HYPERSET_DOMAIN} {
    tls internal {
        on_demand
    }
    authenticate with myportal
}

{$HYPERSET_DOMAIN} {
    tls internal {
        on_demand
    }
    authorize with mypolicy
    handle {
        root * /Portal
        file_server
    }
}

openwebui.{$HYPERSET_DOMAIN} {
    tls internal {
        on_demand
    }
    authorize with mypolicy
    reverse_proxy hyperset-open-webui:8080 {
        header_up X-Auth-Request-User {http.request.header.X-Token-User-Id}
        header_up X-Auth-Request-Email {http.request.header.X-Token-User-Email}
        header_up X-Auth-Request-Groups {http.request.header.X-Token-User-Roles}
        header_down -X-Frame-Options
        header_down -Content-Security-Policy
    }
}