{
  order authenticate before respond
  order authorize before reverse_proxy

  security {
    local identity store localdb {
      realm local
      path /data/users.json
    }

    authentication portal myportal {
      crypto default token lifetime 3600
      crypto key sign-verify {env.AUTH_CRYPTO_KEY}
      enable identity store localdb
      cookie domain {$GINAMAX_DOMAIN}
      ui {
        links {
          "Dashboard" / icon "las la-tachometer-alt"
        }
      }
    }

    authorization policy mypolicy {
      set auth url /auth/
      crypto key verify {env.AUTH_CRYPTO_KEY}
      allow roles authp/admin authp/user
      inject headers with claims
    }
  }
}

{$GINAMAX_DOMAIN} {
  tls internal

  route /health {
    respond "OK" 200
  }

  route /auth* {
    authenticate with myportal
  }

  route /* {
    authorize with mypolicy
    root * /srv/portal
    file_server
  }
}